*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg,#e76f51,#e9c46a,#f4a261);
    background-size: 100% 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 30vw;
    height: 35vw;
    background-color: rgb(0, 0, 0,0.65);
    border-radius: 10px;
    box-shadow: 7px 7px 5px black,-7px -7px 5px black,-7px 7px 5px black,7px -7px 5px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.buttons{
    width: 5vw;
    height: 4vw;
    cursor: pointer;
    background-color: black;
    color: #e9c46a;
    border-radius: 5px;
    border: none;
    font-size: 2vw;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    transition:all 0.2s;
}
.buttons:hover{
    transform:scale(1.1);
    background-color: #e9c46a;
    color: black;
    box-shadow: 5px 5px 5px black;
}
.buttonContainer{
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#display{
    background-color: black;
    color: #e9c46a;
    height: 4vw;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-size: 2vw;
    font-size: 2vw;
    font-weight: bold;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
}
.splButtons{
    width: 40%;
    height: 3vw;
    background-color: #e76f51;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 2px 2px 2px black;
}
.splButtons:hover{
    background-color:  #d48748;
    color: #e76f51;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px black;
}
#decoration{
    width: 10vw;
    height: 10vw;
    background-color:transparent;
    background-image: url(../portfolio/asset/images//decoration.png);
    background-size: 100% 100%;
    background-repeat: 5;
    /* border-radius: 100%; */
    /* filter: brightness(10%); */
    /* filter: blur(20%); */
    position: relative;
    top: 17vw;
    right: 3vw;
    z-index: -1;

}